
@model WebApp.DTO.HomepageDTO

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .page_margin
    {
        margin-top: 50px;
    }

    .sort_box
    {
        margin-top: 40px;
    }
    .recipe-item {
        border: 1px solid #337ab7;
        margin: 10px;
        cursor: default;
        height: 100px;
    }
    .recipe-img {
        width: 75px;
        height: 75px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .recipe-title {
        font-weight: bold;
        margin-left: 100px;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
        
    }
    .recipe-desc {
        margin-left: 100px;
    }
    .btn-recipe-desc {
        margin-left: 20px;
    }
</style>

<div class="page_margin">
    <div class="list-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h4>Filter options:</h4>
        <a href="#" class="list-group-item active">
            Filter option 1
        </a>
        <a href="#" class="list-group-item">
            Filter option 2
        </a>
        <a href="#" class="list-group-item">
            Filter option 3
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="panel panel-info sort_box">
            <div class="panel-heading">
                <h3 class="panel-title">Sort by:</h3>
            </div>
            <div class="panel-body">
                Sort options here
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var recipe in Model.recipeList)
                {
                <div class="recipe-item col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <img class="recipe-img" src="~/images/recipe.png" align="left" />
                    <p class="recipe-title">@recipe.Name</p>
                    <p class="recipe-desc">Prep time: @recipe.PreparationTime mins</p>
                    <a href="@(Url.Action("Details", "Recipes", new { id = recipe.Id }))" class="btn-recipe-desc btn btn-primary btn-xs">View recipe</a>
                </div>
                }
            </div>
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    <div class="clearfix visible-lg visible-md visible-sm visible-xs">
    </div>
</div>