
@model WebApp.DTO.HomepageDTO

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .page_margin
    {
        margin-top: 50px;
    }

    .sort_box
    {
        margin-top: 40px;
    }
    .recipe-item {
        border: 1px solid #337ab7;
        width: 150px;
        height: 200px;
        display: inline-flex;
        margin: 10px;
        cursor: pointer;
    }
    img {
        width: 90%;
        height: 50%;
    }
    .recipe-item-content {
        display: block;
    }
    p {
        margin-left: 5px;
    }

    .recipe-view-btn {
        margin-left: 35%;
    }
</style>

<div class="page_margin">
    <div class="list-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h4>Filter options:</h4>
        <a href="#" class="list-group-item active">
            Filter option 1
        </a>
        <a href="#" class="list-group-item">
            Filter option 2
        </a>
        <a href="#" class="list-group-item">
            Filter option 3
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="panel panel-info sort_box">
            <div class="panel-heading">
                <h3 class="panel-title">Sort by:</h3>
            </div>
            <div class="panel-body">
                Sort options here
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var recipe in Model.recipeList)
        {
            <div class="recipe-item">
                <div class="recipe-item-content">
                    <img src="~/images/recipe.png" />
                    <div>
                        <p><b>Recipe name</b></p>
                        <p>Prep Time: @recipe.PreparationTime mins</p>
                    </div>
                    <a href="#" class="btn btn-primary btn-xs recipe-view-btn">View</a>
                </div>
            </div>
}
            </div>
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    <div class="clearfix visible-lg visible-md visible-sm visible-xs">
    </div>
</div>