@{
    ViewData["Title"] = "Home Page";
}

<style>
    .page_margin
    {
        margin-top: 50px;
    }

    .sort_box
    {
        margin-top: 40px;
    }
</style>

<div class="page_margin">
    <div class="list-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h4>Filter options:</h4>
        <a href="#" class="list-group-item active">
            Filter option 1
        </a>
        <a href="#" class="list-group-item">
            Filter option 2
        </a>
        <a href="#" class="list-group-item">
            Filter option 3
        </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="panel panel-info sort_box">
            <div class="panel-heading">
                <h3 class="panel-title">Sort by:</h3>
            </div>
            <div class="panel-body">
                Sort options here
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent varius sapien laoreet ligula laoreet congue. Pellentesque elementum mi velit,
                eget vestibulum mauris viverra sit amet. Proin vel nisl ante. Ut posuere, lectus eu tempus
                condimentum, nulla velit laoreet ante, a finibus ex elit eu dolor. Phasellus lacinia, ante
                eget vulputate dignissim, mauris lectus iaculis enim, at scelerisque lorem nisl egestas metus. 
                Proin nec libero lorem. Donec commodo ultrices iaculis. Etiam sagittis enim enim, in rhoncus 
                nibh molestie facilisis. Duis ac nulla bibendum, tempor mauris vitae, molestie tortor. Nullam 
                porttitor molestie orci nec rhoncus. Aliquam tempor velit ipsum, a suscipit dui fringilla sed. 
                Etiam turpis libero, luctus quis augue ut, dictum pretium neque. Praesent imperdiet faucibus ligula,
                ac consequat purus.
            </div>
        </div>
    </div>

    <div class="clearfix visible-lg visible-md visible-sm visible-xs">
    </div>
</div>