@model WebApp.DTO.CreateCategoryDTO

<style>
    .validation-summary {
        display: none;
    }

    .validation-summary.validation-summary-errors {
        display: block;
    }
    
    .create-box {
        margin-top: 50px;
    }
</style>

<form method="post" class="form-horizontal create-box col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div asp-validation-summary="All" class="validation-summary alert alert-dismissible alert-danger">
    </div>
    <fieldset>
        <legend>Create category</legend>
        <div class="form-group">
            <label asp-for="Name" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
    </fieldset>
</form>

<div class="clearfix visible-lg visible-md visible-sm visible-xs">
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}